@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');


*{
    box-sizing: 10;
font-family: "Vend Sans", sans-serif; 
}
body{
    background-color: whitesmoke;
    margin: 0;
    
}

.header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333;
    align-items: center;    
    
   
}

header .logo{
    cursor: pointer;
    padding-left: 5%;
    height: 55px;
    padding-bottom: 1%;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
    padding-right: 2%;
    align-items: center;
    
}
.navlinks a{
    text-decoration: none;
    color: white;
}
.navlinks a:hover {
    font-size: 23px;
    transition: 1s;
    color: #A6A6A6;
}
.navbar {
    padding-right: 7%;
}


.title {
    text-align: center;
    height: 60px;
    font-size: 60px;
}

p{
    margin:80px;
    font-size: 25px;
}



h3 {
    margin-left: 100px;
    
}

.foto2 {
    margin-left: 700px;
}

.contenedor {
    display: flex;
}

.image {
    margin-right: 50px;
    height: 300px;
    width: 300px;
    gap: 0px;
    display: block;
}


.image2 {
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    width: 300px;
    gap: 0px;
    display: block;
}

.epoca1{
    background-color: #F8F8F8;
    margin: -50px;
}

.epoca2 {
    background-color: #E6E6E6;
    margin: -50px;
}

.epoca3 {
    background-color: #D4D4D4;
    margin: -50px;
}

.epoca4 {
    background-color: #BFBFBF;
    margin: -50px;
}

.epoca5 {
    background-color: #a6a6a6;
    margin: -50px;
}

.contenedor_principal {
    padding: 3%;
    text-align: justify;
}